.mainPageWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.contentBox{
    width: 100%;
    background-color: var(--background-color-contentLight);
    /* border: 1px black solid; */
    box-shadow:  var(--box-shadow-content); 
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.bannerWrap {
    width: 100%;
    height: 200px;
    /* border: 1px black solid; */
    box-shadow:  var(--box-shadow-content); 
    border-radius: 15px;
    background-color: #fadef5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 55px;
    color: rgb(83, 83, 245);
    font-weight: 700;
    text-align: center; 
    
}
.privilegeImageWrap {
    display: flex;
    gap: 7px;
}
.privilege {
    width: 50%;
    height: auto;
    background-color: var(--background-color-contentLight);
    border-radius: 15px;
    padding-left: 10px;
    /* border: 1px black solid; */
    box-shadow:  var(--box-shadow-content); 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    
}
.image {
    width: 50%;
    height: 500px;
    object-fit: cover;
    /* border: 1px black solid; */
    box-shadow:  var(--box-shadow-content); 
    border-radius: 15px;
}
@keyframes banner1 {
    50% { 
          transform: rotateY(90deg);
          opacity: 0;
        }
  }
  .banner1 {
      animation: banner1 8s infinite;
    
      font-size: 55px;
      color: rgb(83, 83, 245);
      font-weight: 700;
  }
  @keyframes banner2 {
      50% {
            transform: rotateY(90deg);
            opacity: 0; 
          }
    }
  .banner2 {
      animation: banner2 8s infinite;
      animation-delay: 4s;
      
      font-size: 55px;
      color: rgb(255, 145, 0);
      font-weight: 700;
      
      position: absolute;
      margin-top: 63px;
      
  }   
  .visible {
      opacity: 1;
  }
/* Медиа запросы */
@media (max-width: 991px) {
    .privilegeImageWrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .image, .privilege {
        height: auto;
        width: 100%;
        padding-left: 0px;
        text-indent: 10px; 
    }
    .contentBox{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bannerWrap, .banner1, .banner2 {
        font-size: 42px;
        
    }
    .bannerWrap{
       height: 150px; 
    }
    .banner2 {
        margin-top: 50px;
    }
    .mainPageWrap {
       margin-top: 10px;
       margin-left: 8px;
       margin-bottom: 10px;
    }

}
@media (max-width: 430px) {
    .bannerWrap, .banner1, .banner2 {
        font-size: 30px;
        
    }
    .banner2 {
        margin-top: 33px;
    }
    .privilege {
        font-size: 19px;
    }
    .mainPageWrap {
        margin-left: 5px;
     }

}

  /* @keyframes banner1 {
    50% { 
          transform: rotateY(90deg);
          opacity: 0;
        }
  }
  .banner1 {
      animation: banner1 8s infinite;
    
      font-size: 55px;
      color: rgb(83, 83, 245);
      font-weight: 700;
  }
  @keyframes banner2 {
      50% {
            transform: rotateY(90deg);
            opacity: 0; 
          }
    }
  .banner2 {
      animation: banner2 8s infinite;
      animation-delay: 4s;
      
      font-size: 55px;
      color: rgb(255, 145, 0);
      font-weight: 700;
      
      position: absolute;
      margin-top: 42px;
      
  }   
  .visible {
      opacity: 1;
  } */








