.basketCardWrap {
    height: 170px;
    width: 780px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    background-color: var(--background-color-contentMedium);
    /* border: var(--border-content); */
    border-radius: 20px;
}
.descriptionWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 270px;
}
.image {
    height: 160px;
    width: 160px;
    background-color: var(--background-color-contentMedium);
    /* border: var(--border-content); */
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 5px;
    
}
.counter {
   display: flex;
   flex-direction: row;
   gap: 10px;
   margin-right: 5px;
}
.button {
   height: 30px;
   width: 30px;
   font-size: 23px;
   color: white;
   font-weight: 900;
   border-style: none;
   border: 3px var(--background-color-contentLarge) solid;
   border-radius: 7px;
   background-color: var(--background-color-contentMedium);
}
.button:hover {
    background-color: var(--background-color-contentLarge);
}
.svgDelete {
    height: 30px;
    width: 30px;
    color: white;  
}
.svgDelete:hover {
    color: var(--background-color-contentLarge);
}
.svgButton {
    outline: none;
    border: none;
    background: transparent;
}
/* Медиа запросы */
@media (max-width: 991px) {
    .basketCardWrap {
        height: 170px;
        width: 580px;
        gap: 10px;
    }
    .descriptionWrap {
        width: 200px;
    }
  
}
@media (max-width: 430px) {
    .basketCardWrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        width: 240px;
       
    }
    .descriptionWrap {
        width: 150px;
    }
  
}