.mainWrap {
    display: flex;
    flex-direction: column;
}
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    /* height: 90%; */

}
.innerWrap {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto;
    
}
.mainContentWrap {
    /* background-color: rgb(77, 255, 77);
    margin-left: 4px;
    margin-top: 3px; */
    height: 100%;
}

@media (max-width: 991px) {
    .innerWrap {
        display: grid;
        grid-template-columns: 120px auto;
        grid-template-rows: auto; 
    }
    .innerWrapTrue {
        grid-template-columns: 120px auto;
        grid-template-rows: auto;
    }
}

/* @media (max-width: 991px) {
    .innerWrap  {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}
.innerWrapTrue {
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto;
} */
